@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: "Open Sans";
    margin: 0px;
}

.navbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(196, 82, 152);
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
       background-color: rgb(35, 3, 87);
    }
}

.content {
    margin: 10px;
}

.headShot{
    height: 250px;
    padding-left: 1vh;
    border-radius: 20px;
}

.headshot{
    height: 250px;
    padding-left: 1vh;
    border-radius: 20px;
}

.highpic{
    height: 350px;
    padding-left: 1vh;
    border-radius: 20px;
}

.collpic{
    height: 350px;
    padding-left: 1vh;
    border-radius: 20px;
}

.MLH_Logo{
    height: 200px;
    width: 250px;
    padding-left: 1vh;
    border-radius: 10px;
}



/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9d7ebd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
}




footer { 
    font-size: 1em;
    color: white;
	background-color: rgb(196, 82, 152);
 	text-align: center;
	margin-top: 20em;
	margin-left: -2em;
	margin-right: -2em;
	padding: -1em;
}
